@import "tailwindcss";
@plugin "daisyui";

.link-color {
  color: rgb(85, 115, 248);
}

.bg-primary{
    background-color: rgba(218, 160, 35, 0.897);
}

.text-color{
    color: rgba(194, 134, 5, 0.897);
}

