@import "tailwindcss";
@plugin "daisyui";
@plugin "tailwind-scrollbar-hide";

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.link-color {
  color: rgb(85, 115, 248);
}

.bg-primary {
  background-color: rgba(218, 160, 35, 0.897);
}

.text-color {
  color: rgba(194, 134, 5, 0.897);
}
